
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Assign Role","AssignRole","AdminPage")</li>
    <li>@Html.ActionLink("Create Role","CreateRole","AdminPage")</li>
    <li>@Html.ActionLink("Edit Profile","EditProfile",new { area = "", controller = "User" })</li>
</ul>

